name: Generate UML Diagram
on:
  push:
    branches: [ main ]
    paths: [ 'docs/diagramas/**/*.puml' ]
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Conda Environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: uml-generator
          environment-file: environment.yml
          auto-activate-base: false

      - name: Generate PNG from PlantUML
        shell: bash -l {0}
        run: |
          plantuml -verbose -png -o docs/diagramas docs/diagramas/*.puml

      - name: Commit and Push Generated Images
        if: github.ref == 'refs/heads/main'
        shell: bash -l {0}
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add docs/diagramas/*.png
          git commit -m "docs(uml): actualizar diagramas generados [skip ci]" || echo "Sin cambios para commitear"
          git push
